@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --breakpoint-xs: 22.5rem;
}

body {
  background-image: url("../public/background.png");
}

.font-oxanium {
  font-family: var(--font-oxanium), cursive;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f95c19 !important; /* Cambia el color de la flecha */
}

/* Cambiar el color del punto activo */
.swiper-pagination-bullet-active {
  background-color: #ff8800 !important; /* Color del punto activo */
}
